<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Authenticate Application|| Thang Tran</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="/auth/home">Homepage</a>
            </li>
            <li><a href="/auth/logout">Logout</a></li>
           
        </ul>
    </nav>
    <header>    
        <h1>Xin chào <%=data.fullname%> + Có ID là: <%=data.id_google%> </h1>
        
    </header>
    <!-- <main>
        <button class="google-btn">Google + </button>
    </main> -->
    <!-- For demo purpose -->
    <!-- <h2 style="text-align:center">User Profile Card</h2> -->
<!-- <main>
    <div class="card">
     
      <h1><%=data.fullname%></h1>
      <p class="title"><%=data.idgoogle%></p>
      <p><%=data.id%></p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <p><button>Contact</button></p>
    </div>
</main> -->
    </div>
</div>



</body>
</html>